/* input form and submit*/

.input-form {
    width: 100%;
    box-sizing: border-box;
    background-color: var(--gray30);
    border-radius: 0.5rem;
    border: 1px solid var(--white);
    padding: 0.75rem 1rem;
    font-size: 1rem;
    margin-block-end: 1.5rem;
}

.input-form::-webkit-input-placeholder {
    font-family: var(--nunito);
    line-height: 1.5rem;
    color: var(--white);
}

.input-submit {
    width: 100%;
    background: #157EFB;
    color: var(--white);
    border: none;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    border-radius: 0.5rem;
}