.setup_subtitle {
    counter-increment: titleList;
    display: inline-block;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.setup_subtitle::before {
    content: counter(titleList, decimal) '. ';

}

.concept_subtitle {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {

    .setup_subtitle {
        font-weight: 600;
    }

    .concept_subtitle {
        font-weight: 600;
    }
}