.box-model {
    margin-top: 2.5rem;
}

.box-model h2 {
    font-weight: 400;
    font-size: 1.5rem;
    color: var(--black);
}

.box-model h3 {
    font-weight: 400;
    font-size: 22px;
    color: var(--black);
    margin-top: 2.5rem;
    margin-bottom: 1rem;
}

.box-model_ol {
    padding-left: 1rem;
    line-height: 1.5rem;
}

.box-model_ul {
    padding-left: 1rem;
}

.box-model_ul li {
    margin-block-end: 1rem;
}

.box-model_ul li::marker {
    color: var(--blue10);
}

@media screen and (min-width: 1024px) {
    .box-model h2 {
        font-size: 32px;
    }

    .box-model h3 {
        font-size: 24px;
    }

}