pre {
    font-family: var(--rubik);
    font-size: 1rem;
    line-height: 1.5rem;
    white-space: pre-line;
    padding: 2.5rem;
    border-radius: 0.5rem;
    text-align: start;
    border: 0.5rem solid var(--blue10);
    box-shadow: -10px 10px 0px 0px #ABAAF6;
    margin-bottom: 2.5rem;
}