.section-content {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    text-align: center;
    counter-reset: titleList;
}

.image-subtitle {
    /* background-color: pink; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}

.heading-setup {
    font-weight: 400;
    font-size: 2rem;
    color: var(--black);
}

.heading-conceptos {
    font-weight: 400;
    font-size: 1.5rem;
    color: var(--black);
}

.image-icon {
    width: 5rem;
    height: 5rem;
}

@media screen and (min-width: 1024px) {
    .section-content {
        flex-direction: column;
    }

}