@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('/fonts/Nunito.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('/fonts/Rubik.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --black: #000000;
    --gray30: #212121;
    --gray20: #212429;
    --gray15: #424242;
    --gray12: #545454;
    --gray10: #616161;
    --gray5: #808080;


    --white5: #FFFFFE;
    --white: #FFFFFF;


    --coral: #FF8577;
    --coral10: #D4939D;
    --coral5: #EEBBC3;

    --violet: #A259FF;

    --blue10: #5551FF;

    /* background */
    --bodyB: #251F24;
    --bodyE: #232946;

    /* font-family*/
    --roboto: "Roboto", sans-serif;
    --nunito: "Nunito", sans-serif;
    --rubik: "Rubik", sans-serif;
    --montserrat: "Montserrat", sans-serif;

}