.main-content {
    width: 328px;
}

@media screen and (min-width: 1024px) {
    .main-content {
        /* background-color: aquamarine; */
        width: 903px;
        margin: 64px 24px 0 116px;
    }

}