.main-content {
    width: 100%;
    display: flex;
    margin: 1rem;
    flex-direction: column;
    flex-flow: wrap;
}

@media screen and (min-width: 1024px) {
    .main-content {
        margin: 64px 24px 0 116px;
        justify-content: center;
    }

}