.footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 1;
    height: 10.875rem;
    background-color: #212429;
    justify-content: center;
    align-items: center;
}