.sidebar {
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    width: auto;
    margin: 1rem;

}

@media screen and (min-width: 1024px) {
    .sidebar {
        /* background-color: red; */
        /* width: 25%; */
        margin: 64px 24px 0 116px;
        /* align-items: end; */
    }
}