blockquote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--nunito);
    font-weight: 700;
    color: var(--white);
    margin: 40px 16px 0px 16px;
    padding: 8px;
    border-radius: 8px;
    background-color: #3A3539;
    height: 128px;
}

blockquote p {
    margin-bottom: 16px;
    line-height: 32px;
}

.span--name::before {
    display: inline-block;
    content: '-';
}

.span--name {
    font-size: 17px;
    color: var(--white);
}

@media screen and (min-width: 1024px) {
    blockquote {
        /* width: 636px; */
        height: 128px;
        padding: 24px;
    }

    blockquote p {
        display: inline-block;
        font-weight: 400;
        font-size: 24px;
    }

    .span--name {
        width: 206px;
        height: 32px;
        font-size: 17px;
        font-weight: 400;
        color: var(--white);
        font-size: 24px;
    }

}