blockquote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--nunito);
    font-weight: 700;
    color: var(--white);
    margin: 2.5rem 1rem 0px 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: #3A3539;
    height: 128px;
}

blockquote p {
    margin-bottom: 1rem;
    line-height: 2rem;
}

.span--name::before {
    display: inline-block;
    content: '-';
}

.span--name {
    font-size: 17px;
    color: var(--white);
}

@media screen and (min-width: 1024px) {
    blockquote {
        height: 128px;
        padding: 24px;
    }

    blockquote p {
        display: inline-block;
        font-weight: 400;
        font-size: 24px;
    }

    .span--name {
        width: 206px;
        height: 32px;
        font-size: 17px;
        font-weight: 400;
        color: var(--white);
        font-size: 24px;
    }

}