.box-model {
    height: auto;
    margin-top: 2.5rem;
}

.box-model_ol {
    line-height: 1.5rem;
    padding-left: 1rem;
}

.box-model_ul {
    padding-left: 1rem;
}


.box-model_ul li::marker {
    color: var(--white);
}


.box-model_ul li {
    line-height: 1.5rem;
    margin-bottom: 1rem;
}