.footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 1;
    height: 174px;
    background-color: var(--white);
    justify-content: center;
    align-items: center;
}