.sidebar {
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1rem;
}

.title {
    margin-bottom: 1rem;
    color: var(--white);
    font-size: 14px;
    line-height: 1.5rem;
}



@media screen and (min-width: 1024px) {
    .sidebar {
        /* background-color: red; */
        width: 188px;
        margin: 64px 24px 0 116px;
    }
}