blockquote {
    margin: 2.5rem 1rem 2.5rem 1rem;
    padding-left: 1rem;
    font-size: 1rem;
    line-height: 2rem;
    border-left: 4px solid var(--gray30);
}

.span--name::before {
    content: '-';
}

.span--name {
    font-size: 1rem;
    color: var(--gray10);
}

@media screen and (min-width: 1240px) {
    blockquote {
        margin-top: 80px;
        margin-bottom: 80px;
    }

}