.box-model h2 {
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
    font-size: 2rem;
    color: var(--gray30);
    font-weight: 400;
}

.box-model h3 {
    font-size: 1.5rem;
}

.box-model_ol {
    /* background-color: red; */
    padding-left: 1rem;
    margin-bottom: 1.5rem;
}

.box-model_ul {
    padding-left: 1rem;
}

.box-model_ul li {
    margin-block-end: 1rem;
}

@media screen and (min-width: 1024px) {
    .box-model {
        margin-top: 80px;
    }

}