pre {
    background: #E5E5E5;
    color: var(--gray15);
    border-radius: 0.5rem;
    padding: 1rem;
    font-family: "Roboto", serif;
    font-weight: 400;
    line-height: 1.5rem;
    font-size: 1rem;
    white-space: pre-line;
}