.section-content {
    width: 100%;
    counter-reset: titleList;
}

.section-content img {
    margin-top: 2.5rem;
}


.heading-setup {
    visibility: collapse;
}


.image-subtitle {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;

}

.image-icon {
    width: 3rem;
    height: 3rem;
}



@media screen and (min-width: 1024px) {
    .heading-setup {
        visibility: visible;

    }

    h2 {
        font-size: 32px;
        font-weight: 400;
        color: var(--gray30);
    }
}