.section-content {
    width: 100%;
    counter-reset: titleList;
}



.heading-setup {
    visibility: collapse;
}


.image-subtitle {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;

}




@media screen and (min-width: 1024px) {
    .heading-setup {
        visibility: visible;

    }

    h2 {
        font-size: 32px;
        font-weight: 400;
        color: var(--gray30);
    }
}