.menu-item {
    display: flex;
    align-items: center;
    width: auto;
    list-style: none;
    border-radius: 0.25rem;
    padding: 0.5rem;
    height: 40px;
}

.menu-item:hover {
    background-color: var(--black);
}

.nemiumE {
    background-color: var(--black);
}