.menu-item {
    list-style: none;
    border-radius: 0.25rem;
    padding: 0.5rem;
    height: 40px;
    display: flex;
    align-items: center;
    width: auto;
}

.menu-item:hover {
    background-color: var(--black);
}