.menu-link {
    display: inline-block;
    width: 100%;
    color: #B8C1EC;
    text-decoration: none;
    font-family: var(--roboto);
    font-size: 14px;
    line-height: 1.5rem;
    font-weight: 500;
}


.menu-link:hover {
    color: var(--white);
}