.main-wrapper {
    margin: 0;
    width: 100%;
}

@media screen and (min-width: 1024px) {
    .main-wrapper {
        width: 60%;
        display: grid;
        grid-template-columns: auto 1fr;
    }

}