.input-form {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid var(--gray10);
    border-radius: 90px;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    margin-block-end: 1rem;
}

.input-form::-webkit-input-placeholder {
    color: var(--gray15);
}

@media screen and (min-width: 1024px) {
    .input-form {
        width: 280px;
        margin-right: 16px;
    }

}