.summary-link {
    /* background-color: yellow; */
    color: var(--gray10);
    text-decoration: none;
    line-height: 24px;
    display: inline-block;
    margin-block-end: 16px;
}

.summary-link:hover {
    color: var(--black);
}