.summary-link {
    /* background-color: yellow; */
    color: var(--gray10);
    text-decoration: none;
    line-height: 1.5rem;
    display: inline-block;
    margin-block-end: 1rem;
}

.summary-link:hover {
    color: var(--black);
}