.main {
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

@media screen and (min-width: 1024px) {
    .main {
        flex-wrap: nowrap;
        flex-direction: row;
    }

}