.menu-item {
    padding: 0.5rem;
    border-radius: 0.25rem;
    list-style-type: none;
    width: 328px;
    height: 2.5rem;
    align-content: center;
}

.menu-item:hover {
    background-color: var(--black);
}

@media screen and (min-width: 1024px) {
    .menu-item {
        box-sizing: border-box;
        width: 208px;
    }
}