.slider-bullet {
    background-color: #8E2DE280;
    width: 1rem;
    height: 1rem;
    border-radius: 0.5rem;
    margin-inline-end: 0.5rem;
}

.slider-bullet:hover {
    background-color: var(--blue10);
}