.slider-bullet {
    background-color: #42424233;
    display: inline-block;
    block-size: 15px;
    inline-size: 15px;
    border-radius: 50%;
    margin-right: 0.5rem;
}

.slider-bullet:hover {
    background-color: var(--gray15);
}