.box-model h2 {
    font-weight: 600;
    font-size: 32px;
    margin-top: 40px;
    margin-bottom: 24px;
}

.box-model h3:first-of-type {
    /* background-color: red; */
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 16px;
}

.box-model h3:nth-last-of-type(-n+2) {
    /* background-color: red; */
    font-weight: 600;
    font-size: 32px;

}