.menu-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 2.5rem;
}


.menu-container ul {
    padding-left: 0;
}

@media screen and (min-width: 1024px) {
    .menu-container {
        width: 100%;
        margin-bottom: 104px;
    }
}