.menu-container {
    margin-bottom: 40px;
}


.menu-container ul {
    padding-left: 0;
}

@media screen and (min-width: 1024px) {
    .menu-container {
        width: 306px;
        margin-bottom: 104px;
    }
}