h1 {
    font-family: var(--rubik);
    color: var(--black);
    font-weight: 700;
    font-size: 1.75rem;
    text-align: center;
}

p {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-block-end: 1rem;
}

.paragraph--bold {
    color: rgba(33, 33, 252, 0.89);
}

@media screen and (min-width:1024px) {
    h1 {
        font-size: 60px;
        margin-top: 0;
    }

    hr {
        width: 100%;
    }


}