h1 {
    font-family: var(--rubik);
    color: var(--black);
    font-weight: 700;
    font-size: 28px;
    text-align: center;
}

p {
    font-size: 16px;
    line-height: 24px;
    margin-block-end: 16px;
}

.paragraph--bold {
    color: rgba(33, 33, 252, 0.89);
}

@media screen and (min-width:1024px) {
    h1 {
        font-size: 60px;
        margin-top: 0;
    }

}