.section-content img {
    margin-top: 1.5rem;

}

.section-content h2 {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.section-content {
    counter-reset: titleList;
    width: 100%;
}

.image-subtitle {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
}