.subscription {
    width: 100%;
}

.subscription h2 {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}


.form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

@media screen and (min-width: 1024px) {
    .form {
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .subscription {
        width: 100%;
        margin-top: 2.5rem;
        margin-bottom: 7.0625rem;
    }

}